header{
  position: sticky;
  top:0;
  z-index: 55;
  background-color: #fff;
}
.globalarea {
    background-color: #b9e7e7;
    padding: 14px 0;
    text-align: center;
    color: #386641;
    font-size: 14px;
    
    
  }
  .globalarea a {
    color: #386641;
    font-weight: 600;
  }
  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #fff;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
    
  }
  header {
    border-bottom: 1px solid #dee0ea;
  }
  .header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    height: 90px;
    position: relative;
  }
  .menu_list {
    display: flex;
    gap: 20px;
    font-size: 14px;
    letter-spacing: 1.2px;
    position: relative;
    height: 90px;
    align-items: center;
  }
  .user {
    font-size: 21px;
  }
  .bi-chevron-compact-down {
    font-size: 12px;
  }
  .header_logo {
    font-weight: 600;
  }
  .search {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .shop {
    position: relative;
  }
  .shop .bagcounter {
    position: absolute;
    top: -9px;
    right: -10px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    padding: 2px 5px;
    font-weight: 500;
  }
  .menu_link::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 33px;
    transition: all ease-in 250ms;
  }
  .menu_list:hover .menu_link:hover:before {
    width: 55px;
  }
  body{
    overflow-x: hidden;
  }
  .menu_dropdown,
  .menu_dropdownshop {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    z-index: 9;
  }
  
  header .menu_dropdown .dropdown_content {
    width: 220px;
    line-height: 20px;
    border: 0.2px #dee0ea solid;
    padding: 15px 30px;
    z-index: 9;
    background-color: #fff;
  }
  header .menu_dropdown .dropdown_content .dropdown_item:hover {
    color: #386641;
    cursor: pointer;
  }
  .home_down:hover + .menu_dropdown {
    opacity: 1;
    visibility: visible;
  }
  .menu_dropdown:hover {
    opacity: 1 !important;
    visibility: visible !important;
    z-index:9 ;
  }
  header .menu_dropdownshop .dropdownshop_content {
    width: 800px;
    margin-left: -200px;
    line-height: 20px;
    border: 0.2px #dee0ea solid;
    padding: 15px 30px;
    font-size: 15px;
    z-index: 9;
    background-color: #fff;
  }
  header .menu_dropdownshop .dropdownshop_content .dropdown_item:hover {
    color: #386641;
    cursor: pointer;
    z-index: 9;
  }
  .shop_down:hover + .menu_dropdownshop {
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }
  .menu_dropdownshop:hover {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 9;
  }
  .shopcontainer {
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
  }
  .shopcontainer li:hover {
    color: #386641;
    cursor: pointer;
  }
  .shopcontainer h4 {
    margin-bottom: 10px;
  }
  .shopnow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
  .shopnow img {
    width: 300px;
  }
  
  header .menu_dropdownuser .dropdown_contentuser {
    width: 220px;
    line-height: 20px;
    border: 0.2px #dee0ea solid;
    padding: 15px 30px;
    background-color: #fff;
  }
  header .menu_dropdownuser .dropdown_contentuser .dropdown_item:hover {
    color: #386641;
    cursor: pointer;
  }
  .home_downuser:hover + .menu_dropdownuser {
    opacity: 1;
    visibility: visible;
  }
  .menu_dropdownuser:hover {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .menu_dropdownuser {
    position: absolute;
    top: 100%;
    opacity: 1;
    visibility: hidden;
    transition: all 300ms linear;
  }
  .bi-list{
    font-size: 20px;
    display: none;
  }
  .menucircle{
    display: none;
  }
  @media  screen and (max-width:1200px){
    .globalarea{
      width: 100%;
      margin: 0 auto;
    }
      .container {
        max-width: 996px;
        
        
        
      }
    }
    @media  screen and (max-width:996px){
      .container {
        max-width: 768px;
        
      }
    }
    
    @media  screen and (max-width:768px){
      .container {
        max-width: 570px;
        
        
      }
      .header_wrap{
        overflow-y: hidden;
      }
    }
    
    @media  screen and (max-width:576px){
      .container {
        max-width: 400px;
        
        
      }
      .header_wrap{
        overflow-y: hidden;
      }
     
      
    }
    @media  screen and (max-width:420px){
      .container {
        max-width: 350px;
        
      }
    }




@media screen and (max-width:650px){
    .header_center{
      position: fixed;
      top:0;
      left:-100%;
      background-color: #fff;
      height: 100vh;
      border-right: 1px solid #dee0ea;
      transition: left 250ms linear !important;
      
      
    }
    .header_center .menu_list{
      flex-direction: column;
      
      padding: 50px 75px;
    }
    .menu_dropdown{
      display: none;
    }
    .menu_dropdownshop{
      display: none;
    }
    .header_center .menu_list i{
      display: none;
    }
    .bi-list{
      display:inline-block;
      cursor:pointer;
      order:-1;
    }
    .menucircle{
      display: block;
    }
  }
  